body {
    background-color: #000000;
    color: #f2f2f2;
    line-height: 1.6;
    scroll-behavior: smooth;
    margin: 0;
}

header {
    padding: 80px 20px;
    text-align: center;
    border-bottom: 4px solid blue;
}

.header-logo {
    width: 400px;
    margin-bottom: 25px;
}

header h1 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none; 
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 12px 25px;
    border: 1px solid gray;
}

nav a:hover {
    background-color: blue;
}

main {
    max-width: 1100px;
    margin: 50px auto;
}

article {
    background-color: #1c1c1c;
    margin-bottom: 70px;
    padding: 45px;
    border-radius: 10px;
    border-left: 6px solid blue;
}

article h2 {
    font-weight: 900;
    font-size: 30px;
    border-bottom: 1px solid darkgray;
}

.brand-logo {
    display: block;
    margin: 25px 0;
    width: 300px;
}

h3 {
    color: blue;
    margin: 30px 0 20px;
    font-weight: 700;
}

article ul li {
    padding-left: 20px;
    margin-bottom: 15px;
}

main > p > a {
    color: #666666;
    text-decoration: none;
    font-weight: 700;
}

main > p > a:hover {
    color: blue;
}

.avatar1, .avatar2 {
    display: flex;
    align-items: center;
    background: #66666611;
    border-radius: 40px;
    padding: 25px;
    margin: 25px 0;
    gap: 25px;
    border-left: 1px solid blue;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid blue;
    padding: 3px;
    object-fit: cover;
}

.avatar1 h4, .avatar2 h4 {
    color: blue;
    font-weight: 700;
    margin-bottom: 8px;
}

.table-car-section {
    margin: 100px 0;
}

.table-car-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
}

.back-color-table {
    padding: 50px;
    background-color: white;
    border-radius: 30px;
}

table {
    width: 100%;
    background-color: white;
    color: black;
    text-transform: uppercase;
    border-collapse: separate;
    border-spacing: 3px;
    border: 3px solid #008080;
}

caption {
    text-align: center;
    color: black;
    caption-side: top;
    text-transform: none;
    font-size: 20px;
}

th {
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #008080;
    text-transform: none;
    padding: 10px;
}

td {
    text-align: center;
    border: 3px solid #008080;
    font-weight: bold;
    vertical-align: middle;
    background-color: white;
    color: black;
    text-transform: none;
    padding: 10px;
}

tr:hover {
    background-color: #f0f0f0;
}

footer {
    padding: 80px 20px;
    text-align: center;
    border-top: 1px solid #222222;
}

address a {
    color: blue;
    text-decoration: none;
}

address p {
    margin: 15px 0;
}