@import url('reset.css');

body {
    background-color: #000000;
    color: #f2f2f2;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    padding: 80px 20px;
    text-align: center;
    border-bottom: 4px solid blue;
}

header img[alt="logo"] {
    max-width: 300px;
    margin-bottom: 25px;
}

header h1 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 12px 25px;
    border: 1px solid gray;
}

nav a:hover {
    background-color: blue;
}

main {
    max-width: 1100px;
    margin: 50px auto;
}

article {
    background-color: #1c1c1c;
    margin-bottom: 70px;
    padding: 45px;
    border-radius: 10px;
    border-left: 6px solid blue;
}

article h2 {
    font-weight: 900;
    font-size: 30px;
    border-bottom: 1px solid darkgray;
}

article img[alt="logo"] {
    display: block;
    margin: 25px 0;
}

h3 {
    color: blue;
    margin: 30px 0 20px;
    font-weight: 700;
}

article ul li {
    padding-left: 20px;
    margin-bottom: 15px;
}


main > p > a {
    color: #666666;
    text-decoration: none;
    font-weight: 700;
}

main > p > a:hover {
    color: blue;
}

.avatar1, .avatar2 {
    display: flex;
    align-items: center;
    background: #66666611;
    border-radius: 40px;
    padding: 25px;
    margin: 25px 0;
    gap: 25px;
    border-left: 1px solid blue;
}

.avatar1 img, .avatar2 img {
    border: 2px solid blue;
    padding: 3px;
}

.avatar1 h4, .avatar2 h4 {
    color: blue;
    font-weight: 700;
    margin-bottom: 8px;
}

.table-car-section {
    margin: 100px 0;
}

.table-car-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 900;
}

table {
    width: 100%;
    background-color: #1c1c1c;
    text-transform: uppercase;
}

th {
    background-color: #111111;
    color: blue;
    padding: 20px;
    text-align: left;
    text-transform:uppercase;
    font-weight: 900;
    border-bottom: 2px solid blue;
}

td {
    padding: 18px 20px;
    border-bottom: 1px solid #2a2a2a;
}

tr:hover {
    background-color: #131313;
}

footer {
    padding: 80px 20px;
    text-align: center;
    border-top: 1px solid #222222;
}

address a {
    color: blue;
    text-decoration: none;
}

address p {
    margin: 15px 0;
}

.order-btn {
    background-color: white;
    color: black;
}

.order-btn:hover {
    background-color: gray;
}

/* Сторінка order */


.order-form {
    max-width: 600px;
    margin: 60px auto;
    background-color: #1c1c1c; 
    padding: 40px;
    border-left: 6px solid blue; 
    border-radius: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

.form-group label {
    display: block;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    background-color: black;
    border: 1px solid #333333;
    color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-group input[type="color"] {
    width: 10%;
    height: 45px;
    background-color: white;
    cursor: pointer;
}

.submit-btn {
    width: 50%;
    padding: 18px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    
}

.submit-btn:hover {
    background-color: white;
    color: black;
}

.back-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s ease;
}

.back-link:hover {
    color: blue;
}
